.products h1 {
  text-align: center;
  text-transform: uppercase;
  color: #00afef;
  padding: 40px;
  padding-top: 80px;
  font-weight: lighter;
}

.products h1 b {
  font-weight: bold;
}

.products .container {
  padding-bottom: 80px;
}

.products .form-control {
  background-color: #e6e6e6;
}

.products .search_number {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.card-img-top {
  width: 50%;
  margin: 15px auto;
}

.products .glide__arrow,
.modal-body .glide__arrow {
  color: #00afef;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;

  font-size: 50px;
}

.products .glide__arrow--left {
  left: -2em;
}

.products .glide__arrow--right {
  right: -2em;
}

.products .card {
  height: 280px;
}

.products .card-body {
  background-color: #231f20;
  color: white;
  border-radius: 8px;
  max-height: 120px;
  bottom: 0;
}

.products .card-img-top {
  width: 50%;
  margin: auto auto !important;
}

.products .glide__slide img {
  width: 50%;
}

.modal-body .btn-primary {
  background-color: #00afef;
  border: none;
  font-weight: bold;
  width: 30%;
  text-transform: uppercase;
}

.modal-body .description {
  display: flex;
  flex-direction: column;
}