nav {
  border-bottom: 4px solid black;
}

.navbar-expand {
  justify-content: space-around !important;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 20px;
  color: #00afef;
  margin: 0 10px;
}

.separator {
  color: aliceblue;
  border: 1px solid #00afef;
  width: 0px;
  height: 35px;
  margin: 0;
}

.badge {
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  background: red;
  color: #fefefe;
  margin-top: -10px;
  position: absolute;
}