.intro .container {
  padding-bottom: 80px;
  padding-top: 80px;
}

.intro .glide__slides {
  align-items: center;
}

.intro .glide__bullet {
  background-color: white;
  border: 1px solid #00afef;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  box-shadow: none;
}

.intro .glide__arrow {
  color: #00afef;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;

  font-size: 50px;
}

.intro .glide__bullet--active {
  background-color: #00afef;
}

.intro h2 {
  color: #00afef;
  text-transform: uppercase;
  font-weight: bold;
}

.intro .btn-primary {
  background-color: #00afef;
  border: none;
  font-weight: bold;
  width: 50%;
  text-transform: uppercase;
}

.slider_image {
  width: 90%;
}

.intro .glide__arrow--left {
  left: 3em;
}

.intro .glide__arrow--right {
  right: 3em;
}