/* Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* FontAwesome */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
/* Required Core Stylesheet */
@import '~@glidejs/glide/dist/css/glide.core.css';
/* Optional Theme Stylesheet */
@import '~@glidejs/glide/dist/css/glide.theme.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}